@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Roboto;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    grid-template-rows: .9fr 4fr;
}

.sidebar{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #3f9ce8;
}

.sidebar > div > img{
    filter: invert(100%) sepia(1%) saturate(7475%) hue-rotate(183deg) brightness(109%) contrast(95%);
    margin-left: 40px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    /* margin-top: 25px; */
}

#dashboard-icon{
    margin-left: 25px;
    width: 75px;
    height: 75px;
}

#home-icon{
    margin-top: 70px;
}

#settings-icon{
    margin-top: 100px;
}

#dashboard-link{
    margin-top: 45px;
}

#dashboard-link > a{
    font-size: 2.3rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.link{
    margin-top: 30px;
}

#home-link{
    margin-top: 97px;
}

#profile-link {
    margin-top: 45px;
}

#messages-link{
    margin-top: 40px;
}

#history-link{
    margin-top: 45px;
}

#tasks-link{
    margin-top: 45px;
}

#communities-link{
    margin-top: 48px;
}

#settings-link{
    margin-top: 113px;
}

#support-link{
    margin-top: 45px;
}

#privacy-link{
    margin-top: 45px;
}

.link > a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.sidebar > ul > li > a{
    text-decoration: none;
    
    color: white;
}

.header{
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr / 4fr 1fr;
}

.header-top-row{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: space-evenly;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;
    margin-right: 100px;
}

.searchbar-container{
    display: grid;
    align-items: center;
    grid-template-columns: .05fr 1fr;
}

.header-top-row > .searchbar-container> input[type=text]{
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 3px;
    height: 38px;
    width: 75%;
    border: none;
    background-color: lightgray;
}

#search-icon{
    height: 38px;
    width: 28px;
}

.header-account-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.header-account-links > #notifications-bell-icon{
    width: 30px;
    height: 30px;
}

.header-account-links > #profile-picture{
    width: 60px;
    height: 60px;
}

#users-name{
    font-weight: 600;
    font-size: 1.3rem;
}

.header-bottom-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-left: 50px;
    margin-right: 50px;
}

.welcome-username{
    display: grid;
    grid-template-columns: .1fr 1fr;
    gap: 15px;
    justify-items: start;
}

.welcome-username > .profile-picture{
    width: 120px;
    height: 120px;
}

.hello-user{
    align-content: center;
}

.hello-user > p{
    font-family: Roboto;
    font-weight: 600;
    font-size: .9rem;
}

#name-with-tag{
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.6rem;
}

.header-buttons{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    justify-self: end;
    gap: 10px;
}

.header-buttons > button{
    height: 50px;
    width: 115px;
    border: none;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    background-color: #3f9ce8;
    border-radius: 50px;
}

.feed-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

.projects-container{
    margin-top: 30px;
}

.projects-container > h2{
    margin-left: 25px;
    font-family: Roboto;
    font-weight: 500;
}

.project-cards-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 88.5%;
    margin: 25px;
}

.project-card{
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-left: 10px solid orange;
    border-radius: 10px;
    padding: 25px;
    padding-top: 40px;
    background-color: white;
}

.top-row > h3{
    font-size: 1.6rem;
}

.top-row > p{
    font-size: 1.4rem;
    color: lightslategrey;
}

.icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    align-items: center;
    justify-items: center;
    width: 200px;
}

.icons > img{
    width: 35px;
    height: 35px;
}

.trending-and-announcements{
    margin-top: 30px;
    margin-right: 25px;
}

.announcements-items{
    margin-bottom: 50px;
}

.announcements-items > h2{
    font-family: Roboto;
    font-weight: 500;
}

.announcements{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
}

.announcements > div{
    padding: 20px;
}

.announcements > .middle-announcement{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.title {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.announcement-info {
    color: lightslategrey;
    font-size: .9rem;
}

.trending-items{
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
}

.trending{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 110px;
    gap: 20px;
}

.user-picture{
    width: 100px;
    height: 100px;
}

.user-project{
    width: 250px;
}

.trending-container > h2{
    font-family: Roboto;
    font-weight: 500;
}

.user-name{
    font-size: 1.2rem;
}

.project-name{
    font-size: 1.2rem;
    color: lightslategrey;
}